* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    flex: 1 1 calc(25% - 20px);
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.card:hover {
    background-color: #dbeafe;
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;
    }
}